In [25]:
import numpy as np
import pandas as pd

df_train = pd.read_csv('TrainData.csv')
df_test = pd.read_csv('TestData.csv')

In [46]:
df_train.describe()

,0,1,2,3,4,5,6,8,9,10,11,12,13
count,513.000000,513.000000,513.000000,513.000000,513.000000,513.000000,513.000000,513.000000,513.000000,513.000000,513.000000,513.000000,510.000000
mean,0.678363,31.283225,4.992037,1.768031,7.267057,4.699805,2.290770,0.430799,2.469786,0.458090,1.935673,180.489279,931.423529
std,0.467561,11.434084,5.123115,0.427099,3.653020,2.010602,3.349502,0.495671,5.158765,0.498727,0.275558,169.020236,3990.262500
min,0.000000,13.750000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
25%,0.000000,22.670000,1.085000,2.000000,4.000000,4.000000,0.165000,0.000000,0.000000,0.000000,2.000000,80.000000,1.000000
50%,1.000000,28.580000,3.000000,2.000000,8.000000,4.000000,1.000000,0.000000,0.000000,0.000000,2.000000,160.000000,5.000000
75%,1.000000,37.330000,7.835000,2.000000,10.000000,5.000000,3.000000,1.000000,3.000000,1.000000,2.000000,260.000000,361.750000
max,1.000000,80.250000,28.000000,3.000000,14.000000,9.000000,28.500000,1.000000,67.000000,1.000000,3.000000,2000.000000,51101.000000

In [47]:
df_train.describe(include='object')

# df_train['col'].fillna('unknown')

          7  target
count   513     513
unique    2       4
top       A       0
freq    279     278

In [2]:
df_train.sample(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,target
308,0,24.83,4.500,2,9,4,1.000,B,0,0,1,2,360,7.0,Not churn
244,1,48.17,7.625,2,9,8,15.500,A,1,12,0,2,0,791.0,Churn
459,1,22.33,11.000,2,9,4,2.000,A,1,1,0,2,80,279.0,Churn
316,0,57.08,19.500,2,8,4,5.500,A,1,7,0,2,0,3001.0,Churn
289,1,24.17,0.875,2,11,4,4.625,A,1,2,1,2,520,2001.0,Churn

In [26]:
# Проверка пропусков в тренировочной выборке
missing_train = df_train.isnull().sum()

# Количество столбцов с пропусками
columns_with_missing_train = missing_train[missing_train > 0].count()

# Вывод результата
print(f"Количество столбцов с пропусками в тренировочной выборке: {columns_with_missing_train}")

Количество столбцов с пропусками в тренировочной выборке: 2

In [27]:
# Находим столбец с наибольшим количеством пропусков в тренировочной выборке
max_missing_column_train = missing_train.idxmax()

# Вычисляем среднее значение по столбцу
mean_value_train = df_train[max_missing_column_train].mean()

# Заполняем пропуски средним значением
df_train[max_missing_column_train].fillna(mean_value_train, inplace=True)

# Ответ: значение вычисленного среднего, округленное до десятых
rounded_mean_value_train = round(mean_value_train, 1)
print(f"Среднее значение в столбце с наибольшим количеством пропусков: {rounded_mean_value_train}")

Среднее значение в столбце с наибольшим количеством пропусков: 31.3

In [28]:
# Находим столбец с наименьшим количеством пропусков в тренировочной выборке
min_missing_column_train = missing_train.idxmin()

# Удаляем строки с пропусками в этом столбце
df_train_cleaned = df_train.dropna(subset=[min_missing_column_train])

# Количество удаленных строк
deleted_rows_count = len(df_train) - len(df_train_cleaned)

# Вывод результата
print(f"Количество удаленных строк: {deleted_rows_count}")

Количество удаленных строк: 0

In [29]:
# Проверка уникальных значений в столбце с целевой переменной
unique_values_target = df_train['target'].unique()

# Количество опечаток, которые нужно исправить
typos_to_fix = sum(['Churn' not in val and 'Not Churn' not in val for val in unique_values_target])

# Исправление опечаток
df_train['target'] = df_train['target'].replace({'Churn': 1, 'Not churn': 0})

# Вывод результата
print(f"Количество исправленных опечаток: {typos_to_fix}")

Количество исправленных опечаток: 3

In [30]:
# Исключаем столбец target
columns_to_check = df_train.columns[df_train.columns != 'target']

# Находим количество столбцов с менее чем 5 различными значениями
columns_with_few_values = [col for col in columns_to_check if df_train[col].nunique() < 5]

# Вывод результата
print(f"Количество столбцов с меньше чем 5 различными значениями: {len(columns_with_few_values)}")

Количество столбцов с меньше чем 5 различными значениями: 6

In [31]:
df_train.sample()

    0      1     2  3   4  5     6  7  8   9  10  11  12     13 target
76  0  19.67  0.21  2  11  8  0.29  A  1  11   0   2  80  100.0      1

In [35]:
df_train[df_train['7'] == 'A']

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,target
0,1,34.750000,15.00,2,12,7,5.375,A,1,9,1,2,0,135.0,1
2,1,20.250000,9.96,2,10,2,0.000,A,0,0,0,2,0,1.0,1
3,1,31.283225,28.00,1,8,4,28.500,A,1,40,0,2,0,16.0,1
5,0,28.500000,1.00,2,11,4,1.000,A,1,2,1,2,167,501.0,0
6,1,31.570000,4.00,2,14,4,5.000,A,1,3,1,2,290,2280.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,0,27.670000,1.50,2,7,4,2.000,A,0,0,0,1,368,1.0,0
509,0,24.750000,3.00,2,11,8,1.835,A,1,19,0,2,0,501.0,1
510,1,31.315675,8.50,2,10,8,7.000,A,1,3,0,2,0,1.0,1
511,1,31.315675,3.00,2,11,8,6.000,A,1,11,0,2,80,1.0,1
512,0,26.920000,13.50,2,11,8,5.000,A,1,2,0,2,0,5001.0,1

In [34]:
# Проверка, все ли клиенты с target=1 имеют значение категориального признака A
result = all(df_train[df_train['target'] == 1]['7'] == 'A')

# Вывод результата
print("Да" if result else "Нет")

Нет

In [37]:
# Вычисление среднего и медианы
mean_feature_2 = df_train['2'].mean()
median_feature_13 = df_train['13'].median()

# Фильтрация данных
filtered_clients = df_train[(df_train['2'] > mean_feature_2) & (df_train['13'] < median_feature_13)]

# Вычисление доли ушедших клиентов
churned_fraction = filtered_clients['target'].mean()

# Вывод результата
print(f"Доля ушедших клиентов: {churned_fraction:.2f}")

Доля ушедших клиентов: 0.51

In [42]:
from sklearn.preprocessing import LabelEncoder

# Копирование данных
df_train_encoded = df_train.copy()
df_test_encoded = df_test.copy()

# Инициализация LabelEncoder
label_encoder = LabelEncoder()

# Кодировка категориальных столбцов
for col in ['7']:
    df_train_encoded[col] = label_encoder.fit_transform(df_train[col])
    df_test_encoded[col] = label_encoder.transform(df_test[col])

# !!! pd.get_dummies(df, columns=[''], drop_first=True) !!!

# Количество столбцов в тестовых данных после кодировки
columns_after_encoding = df_test_encoded.shape

# Вывод результата
print(f"Количество столбцов в тестовых данных после кодировки: {columns_after_encoding}")

Количество столбцов в тестовых данных после кодировки: (173, 14)

In [43]:
df_test_encoded.sample(3)

     0      1       2  3  4  5      6  7  8   9  10  11   12    13
107  1  25.00  11.250  2  8  4  2.500  0  1  17   0   2  200  1209
29   1  18.83   0.415  1  8  4  0.165  1  1   1   0   2  200     2
10   1  22.17  12.125  2  8  4  3.335  1  1   2   1   2  180   174

In [40]:
df_train.sample(3)

     0      1      2  3   4  5      6  7  8  9  10  11   12      13 target
420  1  22.67  10.50  2  11  8  1.335  A  0  0   0   2  100     1.0      1
94   0  45.83  10.50  2  11  4  5.000  A  1  7   1   2    0     1.0      1
57   1  29.50   0.58  2   9  4  0.290  B  1  1   0   2  340  2804.0      0

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import make_scorer, f1_score

# Разделение на целевой вектор и матрицу объект-признак
y_train = df_train_encoded['target']
X_train = df_train_encoded.drop(columns=['target'])

# Инициализация и обучение логистической регрессии
model = LogisticRegression(random_state=42)
model.fit(X_train, y_train)

# Оценка среднего значения F1-score на кросс-валидации
f1_mean = cross_val_score(model, X_train, y_train, cv=3, scoring=make_scorer(f1_score)).mean()

# Вывод результата
print(f"Среднее значение F1-score на кросс-валидации: {f1_mean:.2f}")

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, GridSearchCV

params = {'max_depth': np.arange(2, 20, 1)}
gs = GridSearchCV(DecisionTreeClassifier(), params, cv=3, scoring='roc_auc')
gs.fit(X, y)

gs.best_params_

In [16]:
import pandas as pd

df_train = pd.read_csv('TrainData.csv')
df_test = pd.read_csv('TestData.csv')

In [9]:
df_train

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,target
0,1,34.750000,15.00,2,12,7,5.375,A,1,9,1,2,0,135.0,1
1,1,19.170000,4.00,1,3,4,1.000,B,0,0,1,2,360,1001.0,0
2,1,20.250000,9.96,2,10,2,0.000,A,0,0,0,2,0,1.0,1
3,1,31.283225,28.00,1,8,4,28.500,A,1,40,0,2,0,16.0,1
4,1,22.580000,1.50,1,6,4,0.540,B,0,0,1,2,120,68.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508,0,37.330000,2.50,2,3,8,0.210,B,0,0,0,2,260,247.0,0
509,0,24.750000,3.00,2,11,8,1.835,A,1,19,0,2,0,501.0,1
510,1,31.315675,8.50,2,10,8,7.000,A,1,3,0,2,0,1.0,1
511,1,31.315675,3.00,2,11,8,6.000,A,1,11,0,2,80,1.0,1
512,0,26.920000,13.50,2,11,8,5.000,A,1,2,0,2,0,5001.0,1

In [7]:
df_train.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,target
0,1,34.750000,15.00,2,12,7,5.375,A,1,9,1,2,0,135.0,Churn
1,1,19.170000,4.00,1,3,4,1.000,B,0,0,1,2,360,1001.0,Not churn
2,1,20.250000,9.96,2,10,2,0.000,A,0,0,0,2,0,1.0,Churn
3,1,31.283225,28.00,1,8,4,28.500,A,1,40,0,2,0,16.0,Churn
4,1,22.580000,1.50,1,6,4,0.540,B,0,0,1,2,120,68.0,Not churn

In [17]:
df_train[(df_train['target'] != 'Churn') & (df_train['target'] != 'Not churn')]

    0      1      2  3   4  5     6  7  8  9  10  11   12   13     target
19  1  21.25  1.500  2   9  4  1.50  B  0  0   0   2  150  9.0      Chorn
80  0  22.67  0.335  2  11  4  0.75  B  0  0   0   1  160  1.0  Not chorn

In [23]:
df_train[df_train['7'] == 'A']

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,target
0,1,34.750000,15.00,2,12,7,5.375,A,1,9,1,2,0,135.0,1
2,1,20.250000,9.96,2,10,2,0.000,A,0,0,0,2,0,1.0,1
3,1,NaN,28.00,1,8,4,28.500,A,1,40,0,2,0,16.0,1
5,0,28.500000,1.00,2,11,4,1.000,A,1,2,1,2,167,501.0,0
6,1,31.570000,4.00,2,14,4,5.000,A,1,3,1,2,290,2280.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,0,27.670000,1.50,2,7,4,2.000,A,0,0,0,1,368,1.0,0
509,0,24.750000,3.00,2,11,8,1.835,A,1,19,0,2,0,501.0,1
510,1,31.315675,8.50,2,10,8,7.000,A,1,3,0,2,0,1.0,1
511,1,31.315675,3.00,2,11,8,6.000,A,1,11,0,2,80,1.0,1
512,0,26.920000,13.50,2,11,8,5.000,A,1,2,0,2,0,5001.0,1

In [4]:
df_test.head()

   0      1       2  3   4  5      6  7  8  9  10  11   12   13
0  1  32.08   4.000  1  13  4  1.500  B  0  0   1   2  120    1
1  0  23.50   1.500  2   9  4  0.875  B  0  0   1   2  160    1
2  0  33.25   2.500  1   8  4  2.500  B  0  0   1   2    0    3
3  1  74.83  19.000  1   1  1  0.040  B  1  2   0   2    0  352
4  1  20.17   5.625  2   9  4  1.710  A  0  0   0   1  120    1

In [5]:
max_na_column_train = df_train.isna().sum().idxmax()
max_na_column_test = df_test.isna().sum().idxmax()

mean_value_train = df_train[max_na_column_train].mean()
mean_value_test = df_test[max_na_column_test].mean()
df_train[max_na_column_train].fillna(mean_value_train, inplace=True)
df_test[max_na_column_test].fillna(mean_value_test, inplace=True)

mean_value_train_rounded = round(mean_value_train, 1)
mean_value_test_rounded = round(mean_value_test, 1)

print("Среднее значение в столбце с наибольшим количеством пропусков в обучающем наборе данных:", mean_value_train_rounded)
print("Среднее значение в столбце с наибольшим количеством пропусков в тестовом наборе данных:", mean_value_test_rounded)

answer = mean_value_train_rounded
answer

Среднее значение в столбце с наибольшим количеством пропусков в обучающем наборе данных: 31.3
Среднее значение в столбце с наибольшим количеством пропусков в тестовом наборе данных: 0.7

31.3

In [18]:
# Определяем опечатки в названиях категорий целевой переменной
typo_count = df_train['target'].apply(lambda x: 1 if x.lower().strip() not in ['churn', 'not churn'] else 0).sum()

# Исправляем опечатки в названиях категорий целевой переменной
df_train['target'] = df_train['target'].apply(lambda x: 'Churn' if x.lower().strip() == 'churn' or x.lower().strip() == 'chorn' else 'Not churn')

# Заменяем категории на соответствующие бинарные значения
df_train['target'] = df_train['target'].map({'Churn': 1, 'Not churn': 0})

# Выводим количество исправленных опечаток
print("Количество исправленных опечаток:", typo_count)

Количество исправленных опечаток: 2

In [20]:
# Извлекаем только числовые признаки
numeric_features = df_train.select_dtypes(include=['int64', 'float64'])

# Рассчитываем корреляцию Пирсона между каждым числовым признаком и целевой переменной
correlation = numeric_features.corrwith(df_train['target']).abs()

# Находим признак с наибольшей по модулю корреляцией
max_correlation_feature = correlation.drop('target').idxmax()

# Находим модуль корреляции Пирсона для этого признака
max_correlation_value = correlation[max_correlation_feature]

# Выводим результат
print("Модуль корреляции Пирсона с целевой переменной для признака", max_correlation_feature, ":", round(max_correlation_value, 2))

Модуль корреляции Пирсона с целевой переменной для признака 8 : 0.44

In [21]:
# Подсчитываем количество уникальных значений в каждом столбце (исключая столбец target)
unique_counts = df_train.drop(columns=['target']).nunique()

# Подсчитываем количество столбцов, содержащих менее 5 различных значений
columns_less_than_5_unique_values = (unique_counts < 5).sum()

# Выводим результат
print("Количество столбцов, содержащих менее 5 различных значений (без учета столбца target):", columns_less_than_5_unique_values)

Количество столбцов, содержащих менее 5 различных значений (без учета столбца target): 6

In [26]:
# Вычисляем среднее значение по столбцу 2
mean_feature_2 = df_train['2'].mean()

# Вычисляем медиану по столбцу 13
median_feature_13 = df_train['13'].median()

# Определяем клиентов, для которых значение признака 2 больше среднего значения, а значение признака 13 меньше медианы
filtered_clients = df_train[(df_train['2'] > mean_feature_2) & (df_train['13'] < median_feature_13)]

# Вычисляем долю таких клиентов среди всех ушедших из компании клиентов
churned_clients_percentage = filtered_clients['target'].mean()

# Выводим результат
print("Доля ушедших из компании клиентов, для которых значение признака 2 больше среднего значения, а значение признака 13 меньше медианы:", round(churned_clients_percentage, 2))

Доля ушедших из компании клиентов, для которых значение признака 2 больше среднего значения, а значение признака 13 меньше медианы: 0.51

In [27]:
from sklearn.preprocessing import LabelEncoder

# Создаем копии тренировочных и тестовых данных
df_train_encoded = df_train.copy()
df_test_encoded = df_test.copy()

# Применяем Label Encoding к категориальным столбцам
label_encoder = LabelEncoder()
for column in df_train_encoded.select_dtypes(include=['object']).columns:
    df_train_encoded[column] = label_encoder.fit_transform(df_train_encoded[column])
    df_test_encoded[column] = label_encoder.transform(df_test_encoded[column])

# Определяем количество столбцов в тестовых данных после кодировки
columns_count_after_encoding = df_test_encoded.shape[1]

# Выводим результат
print("Количество столбцов в тестовых данных после кодировки:", columns_count_after_encoding)

Количество столбцов в тестовых данных после кодировки: 14

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

# Разбиваем тренировочные данные на целевой вектор y и матрицу объект-признак X
X_train = df_train_encoded.drop(columns=['target'])
y_train = df_train_encoded['target']

# Создаем модель логистической регрессии с параметрами по умолчанию и фиксируем random_state
model = LogisticRegression(random_state=42)

# Вычисляем среднее значение метрики F1-score на кросс-валидации с тремя фолдами
f1_scores = cross_val_score(model, X_train, y_train, cv=3, scoring='f1')

# Вычисляем среднее значение метрики F1-score
mean_f1_score = f1_scores.mean()

# Выводим результат
print("Среднее значение метрики F1-score на кросс-валидации с тремя фолдами:", round(mean_f1_score, 2))